.footer {
  margin-top: 180px;
  height: 350px;
  background: #4a99d3;
  font-family: "Objektiv";
}

.contact {
  padding: 35px 55px 0 70px;
  height: 257px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff;
}

.contact_quick {
  border-bottom: 2px solid #ffffff;
  width: 107px;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 5px;
}

.contact_block1 {
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
}

.footer_quick {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  :first-child {
    padding-bottom: 18px;
  }
}

.contact_block2 {
  height: 206px;
  width: 155px;
  line-height: 14px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.contact_other {
  border-bottom: 2px solid #ffffff;
  width: 63px;
}

.quick2 {
  width: 63px;
}

.contact_block3 {
  height: 206px;
  width: 320px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  div {
    display: flex;
    :first-child {
      padding-right: 14px;
    }
  }
}

.contact_map {
  padding-top: 22px;
}

.social {
  :nth-child(2) {
    padding-left: 11px;
  }
  img {
    padding-right: 25px;
  }
}

.copyright {
  font-family: "Objektiv";
  color: #ffffff;
  font-weight: bold;
  font-size: 10.41px;
  line-height: 11px;
  padding-left: 78px;
  height: 57px;
  display: flex;
  align-items: center;
}
