@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.logo a {
  position: relative; }

.header {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif; }

.navigation {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; }

.form {
  width: 950px;
  height: 638px;
  margin-top: 190px;
  background: #ffffff;
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif; }

.title {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .title p {
    font-size: 24px;
    line-height: 33px;
    padding-top: 60px;
    letter-spacing: 0.01em;
    color: #4a99d3; }
  .title div {
    width: 160px;
    height: 2px;
    background: #4a99d3; }

.form_name {
  padding-left: 60px;
  font-size: 20px;
  line-height: 27px;
  padding-top: 54px; }

.form_wrapper {
  display: grid;
  justify-content: space-between;
  padding-top: 29px;
  grid-template-columns: 422px 386px;
  padding-left: 60px; }
  .form_wrapper .form_input {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 285px;
    justify-content: space-between; }
    .form_wrapper .form_input input {
      position: relative;
      border-radius: 4px;
      border: 1.2px solid #b4bec8;
      box-sizing: border-box;
      width: 422px;
      height: 50px;
      padding-left: 14px;
      font-family: "Noto Sans";
      font-size: 16px;
      line-height: 22px; }
    .form_wrapper .form_input textarea {
      padding-left: 14px;
      resize: none;
      font-family: "Noto Sans";
      font-size: 16px;
      line-height: 22px; }
    .form_wrapper .form_input .neww {
      width: 422px;
      height: 50px; }
    .form_wrapper .form_input textarea {
      width: 422px;
      height: 137px;
      box-sizing: border-box;
      padding-top: 17px; }
  .form_wrapper .form_upload {
    width: 306px;
    height: 285px;
    border: 1.2px solid #b4bec8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .form_wrapper .form_upload .form_file {
      font-size: 20px;
      line-height: 27px; }
  .form_wrapper button {
    margin-top: 40px;
    width: 422px;
    height: 50px;
    background: #4a99d3;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px; }

.name_up {
  margin-top: -61px;
  width: 59px;
  position: absolute;
  background: white;
  margin-left: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 22px; }

.form_drag {
  width: 258.77px;
  height: 155.63px;
  background: #f9f9fb;
  border: 3px dashed #d2d7e5;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .form_drag p {
    font-size: 12px;
    line-height: 16px;
    color: #878787; }

.form_dragInput {
  display: none; }

.form_dragOver {
  border-style: solid; }

.form_divDrag {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly; }

.drag_zoneThumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #4a99d3;
  background-size: cover;
  position: relative; }

.drag_zoneThumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center; }

.footer {
  margin-top: 180px;
  height: 350px;
  background: #4a99d3;
  font-family: "Objektiv"; }

.contact {
  padding: 35px 55px 0 70px;
  height: 257px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff; }

.contact_quick {
  border-bottom: 2px solid #ffffff;
  width: 107px;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 5px; }

.contact_block1 {
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px; }

.footer_quick {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff; }
  .footer_quick :first-child {
    padding-bottom: 18px; }

.contact_block2 {
  height: 206px;
  width: 155px;
  line-height: 14px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff; }

.contact_other {
  border-bottom: 2px solid #ffffff;
  width: 63px; }

.quick2 {
  width: 63px; }

.contact_block3 {
  height: 206px;
  width: 320px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff; }
  .contact_block3 div {
    display: flex; }
    .contact_block3 div :first-child {
      padding-right: 14px; }

.contact_map {
  padding-top: 22px; }

.social :nth-child(2) {
  padding-left: 11px; }
.social img {
  padding-right: 25px; }

.copyright {
  font-family: "Objektiv";
  color: #ffffff;
  font-weight: bold;
  font-size: 10.41px;
  line-height: 11px;
  padding-left: 78px;
  height: 57px;
  display: flex;
  align-items: center; }

@font-face {
  font-family: 'Objektiv';
  src: url("../fonts/ObjektivMk1-Regular.eot");
  src: local("☺"), url("../fonts/ObjektivMk1-Regular.woff") format("woff"), url("../fonts/ObjektivMk1-Regular.ttf") format("truetype"), url("../fonts/ObjektivMk1-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Objektiv';
  src: url("../fonts/ObjektivMk1-Medium.eot");
  src: local("☺"), url("../fonts/ObjektivMk1-Medium.woff") format("woff"), url("../fonts/ObjektivMk1-Medium.ttf") format("truetype"), url("../fonts/ObjektivMk1-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1440px; }

.background {
  position: absolute;
  width: 1440px;
  height: 609px;
  background: linear-gradient(359.45deg, #4a99d3 -24.57%, rgba(74, 153, 211, 0) 76.31%), #ffffff;
  opacity: 0.2;
  transform: rotate(180deg); }

.indent {
  margin-left: 245px;
  margin-right: 245px; }

/*# sourceMappingURL=style.css.map */
